<section id="about" class="section-reverse">
   <div>
    <h2>El evento</h2>
    <hr>
    <p>
    <a href="https://vlctechhub.org">VLCTechHub</a>
      </p>
  </div>
 <div>
    <h2>Global diversity CFP Day</h2>
    <hr>
    <p>
    Global Diversity CFP Day (CFP = Call for Proposals) is a worldwide workshop for members of underrepresented groups in tech to learn about how to become a tech conference speaker. The workshop series started as an offshoot of a workshop at the ScotlandJS conference, and in its first full year, 2018, GDCFP happened in 52 cities, plus one remote workshop!
    </p>

    <p>
    Global Diversity CFP Day teaches about all areas of tech public speaking, with a special focus on the process of getting a talk ready for a tech conference. Some of these things include figuring out a topic for your talk, writing a talk proposal that catches the conference organizers’ eyes, and a “crafting your bio” workshop, where attendees pair up to write and present each other’s bios. Another great section of the workshop was the Caring for your Audience discussion, where mentors and attendees brainstorm exclusionary language in tech talks and come up with more inclusive alternatives, such as “blacklist/whitelist” => “blocklist/safelist”, “so easy my grandma could do this” => “straightforward to use”.
    </p>

  </div>
</section>
